%% -*- erlang -*-
{cover_enabled, false}.
{deps, [
]}.

{lib_dirs, ["deps"]}.
{erl_opts, [debug_info]}.

{port_specs, [
    {"priv/moon.so", ["c_src/*.cpp"]}
]}.

{port_env, [
    {"linux", "CXXFLAGS", "$CXXFLAGS        $(pkg-config --cflags lua 2>/dev/null || pkg-config --cflags lua5.1 2>/dev/null || pkg-config --cflags lua5.2)"},
    {"linux", "LDFLAGS", "$LDFLAGS -lstdc++ -lboost_thread $(pkg-config --libs   lua 2>/dev/null || pkg-config --libs   lua5.1 2>/dev/null || pkg-config --libs   lua5.2)"}
]}.