%% -*- erlang -*-
{cover_enabled, false}.
{deps, [
]}.

{lib_dirs, ["deps"]}.
{erl_opts, [debug_info]}.

{port_specs, [
    % if you make with .so, please use this
    {"(darwin|linux|freebsd)", "priv/moon_nif.so", ["c_src/*.cpp"]}
    % if you make with .a, please use this
    {"(darwin|linux|freebsd)", "priv/moon_nif.so", ["c_src/*.cpp", "deps/lua/src/luajit.a"]}

    ,{"win32", "priv/moon_nif.dll", ["c_src/*.cpp"]}
]}.

{port_env, [
    %% necessly config
    {"LUA_PATH", "./deps/lua/src"}
    ,{"BOOST_PATH", "./deps/"}
    ,{"(darwin|linux|freebsd)", "CXXFLAGS", "$CXXFLAGS -I$LUA_PATH -I$BOOST_PATH"}
    ,{"(darwin|linux|freebsd)", "LDFLAGS", "$LDFLAGS -L$LUA_PATH"}
    %% add your config if you need
    ,{"win32", "CXXFLAGS", "$CXXFLAGS -I$LUA_PATH -I$BOOST_PATH"}
    ,{"win32", "LDFLAGS", "$LDFLAGS -llua51"}
]}.
