%% -*- erlang -*-
{cover_enabled, false}.
{deps, [
]}.

{lib_dirs, ["deps"]}.
{erl_opts, [debug_info]}.

{port_specs, [
    {"(darwin|linux|freebsd)", "priv/moon_nif.so", ["c_src/*.cpp"]}
    ,{"win32", "priv/moon_nif.dll", ["c_src/*.cpp"]}
]}.

{port_env, [
    %% necessly config
    {"LUA_PATH", "./deps/lua/src"}
    ,{"BOOST_PATH", "./deps/"}
    ,{"CXXFLAGS", "$CXXFLAGS -I$LUA_PATH -I$BOOST_PATH"}
    ,{"LDFLAGS", "$LDFLAGS -L$LUA_PATH -llua51 "}
    %% add your config if you need
    ,{"linux", "CXXFLAGS", "$CXXFLAGS "}
    ,{"linux", "LDFLAGS", "$LDFLAGS "}
    ,{"darwin", "CXXFLAGS", "$CXXFLAGS "}
    ,{"darwin", "LDFLAGS", "$LDFLAGS "}
    ,{"win32", "CXXFLAGS", "$CXXFLAGS "}
    ,{"win32", "LDFLAGS", "$LDFLAGS "}
]}.
